@mixin displayCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.about_title {
  text-align: center;
  color: #0d4c93;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 4vh 0;
}

.about_left {
  .circle_lg {
    width: 574px;
    height: 574px;
    background-color: #fff;
    border: 40px solid rgba(0, 201, 201, 0.2);
    @include displayCenter();
    .circle_md {
      width: 458px;
      height: 458px;
      background-color: #fff;
      border: 40px solid rgba(13, 76, 147, 0.2);

      @include displayCenter();
      .circle_sm {
        width: 352px;
        height: 352px;
        background-color: #fff;
        border: 40px solid rgba(120, 223, 242, 0.2);
        @include displayCenter();
      }
    }
  }
}

.about_right {
  .about_right_text {
    color: #545252;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 173.187%;
    letter-spacing: 1.2px;
  }
  .about_btn_text {
    width: 270px;
    height: 50px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    border: none;
    transition: 0.3s ease-in-out;
    border-radius: 35px;
    opacity: 0.9;
    background: linear-gradient(90deg, #0d4c93 0%, #00c9c9 100%);
    &:hover {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 1400px) {
  .about_title {
    font-size: 35px;
  }
  .about_left {
    margin-bottom: 3vh;
    .circle_lg {
      width: 524px;
      height: 524px;
      .circle_md {
        width: 408px;
        height: 408px;
        .circle_sm {
          width: 302px;
          height: 302px;
        }
      }
    }
  }
  .about_logo {
    width: 302px;
  }
  .about_right {
    .about_btn_text {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about_left {
    margin-bottom: 3vh;
    .circle_lg {
      width: 424px;
      height: 424px;
      .circle_md {
        width: 308px;
        height: 308px;
        .circle_sm {
          width: 202px;
          height: 202px;
          img {
            width: 200px;
          }
        }
      }
    }
  }
  .about_logo {
    width: 52px;
  }
  .about_right {
    .about_right_text {
      font-size: 18px;
    }
    .about_btn_text {
      font-size: 18px;
    }
  }
}
